 * {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
}
.story {
    width: 100%
}

.Story h2 {
    padding: 30px 30px 20px;
    font-family: Arial;
    font-size: 50px;
    color: #111;
    line-height: 44px
}
.Story p {
    padding: 0px 30px 20px;
    font-family: Arial;
    font-size: 16px;
    color: #111;
    line-height: 24px
}
.body { 
    background-color:#f7f7ac;
    margin: 5;
    padding: 5;
}
section#contact {
border-color: #111;
border-style: solid;
border-width: 5px;
}
li.even {
    background: #d7d7a9;
}
footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100;
    background-color: lightbrown;
    color: black;
    text-align: center;
}
.LOGO {
   float: left;
   margin-right: 20px;
}
a { 
    color: #007bff;
    text-decoration: underline;
}